# For notebooks
ipykernel
ipywidgets
iprogress
tqdm

# For environment
python-dotenv

# For Server
requests
fastapi
fastapi[standard]
uvicorn
python-jose[cryptography]
python-multipart

# LLM-llama index
llama-index
llama-index-llms-google-genai
llama-index-tools-google

# LLM-langchain
langchain-google-genai


# Google Auth APIs
google-api-python-client
google-auth-httplib2
google-auth-oauthlib